<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.kolwit.pickcontact"
        version="1.0.6">

    <name>Pick Contact Details</name>
    <description>
		Native contact-picker overlay, accessing the address book
	</description>
    <license>MIT</license>
    <keywords>phonegap,cordova,addressbook,contacts,contactpicker,android,ios,wp8,windows</keywords>
	
	<engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines> 

    <js-module src="www/PickContact.js" name="PickContact">
        <clobbers target="PickContact" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PickContact">
                <param name="android-package" value="com.kolwit.cordova.PickContactPlugin"/>
            </feature>
        </config-file>
		
		<config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_CONTACTS" />
        </config-file>

        <source-file src="src/android/PickContactPlugin.java" target-dir="src/com/kolwit/cordova" />

    </platform>

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="PickContact">
                <param name="ios-package" value="PickContact"/>
            </feature>
        </config-file>

        <header-file src="src/ios/PickContact.h" />
        <source-file src="src/ios/PickContact.m" />

        <framework src="AddressBook.framework" />
        <framework src="AddressBookUI.framework" />

    </platform>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="PickContact">
                <param name="wp-package" value="PickContact"/>
            </feature>
        </config-file>

        <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
            <Capability Name="ID_CAP_CONTACTS" />
        </config-file>

        <source-file src="src/wp/PickContact.cs" />
        <source-file src="src/wp/PickContactHelper.cs" />
        <source-file src="src/wp/PickContactPicker.xaml" />
        <source-file src="src/wp/PickContactPicker.xaml.cs" />
        <source-file src="src/wp/PickContactTask.cs" />
    </platform>
	
	<!-- Windows -->
    <platform name="windows">
        <js-module src="src/windows/PickContactProxy.js" name="PickContactProxy">
            <merges target="" />
        </js-module>
        <config-file target="package.phone.appxmanifest" parent="/Package/Capabilities">
            <m3:Capability Name="contacts" />
        </config-file>
        <config-file target="package.appxmanifest" parent="/Package/Capabilities" versions=">=10.0.0">
            <uap:Capability Name="contacts" />
        </config-file>
    </platform>

</plugin>